
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_URL: ${DB_URL:-postgres://postgres:password@db:5432/sso_db?sslmode=disable}
      PORT: ${PORT:-:8080}
      JWT_SECRET: ${JWT_SECRET:-supersecretkey}
    ports:
      - "8080:8080"
